@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Ribeye&display=swap');

@layer base {
    :root {
        --createdDarkBlue: #0876CC;
        --createdBlue: #16B4F2;
        --createdOtherBlue: #0B7ABF;
        --createotherRed: #57C3E0;
        --createBlueRed: #67C0DD;
        --creatdark: #06143F;
        --createdReed: #13BA18;
        --createOtherdReed: #8DD98B;
        --createbsky: #f5f5f5;
    }
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}