@import "tailwindcss";

@layer base {
    :root {
        --createdDarkBlue: #0876CC;
        --createdBlue: #16B4F2;
        --createdOtherBlue: #0B7ABF;
        --createotherRed: #57C3E0;
    }
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}